#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  font-size: 48px;
  margin-top: -12px;
  margin-bottom: -6px;
}

.content {
  font-size: 24px;
}

.company {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin: 5px;
  background: linear-gradient(
          to right,
          #802C99 20%,
          #00affa 30%,
          #0190cd 70%,
          #802C99 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.company-container {
  animation:  shake 1s ease-in-out infinite alternate;
}

@keyframes shake{
  0%{
    transform: translateY(0)
  }
  25%{
    transform: translateY(1px);
  }

  50%{
    transform: translateY(-1px);
  }
  100%{
    transform: translateY(0px);
  }
}
.ig-icon {
  width: 24px;
  height: 24px;
}

.regards {
  font-size: 36px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
@media screen and (max-width: 800px){
  .top {
    background-image: url('./stars.gif');
    height: 150px;
    width: 100%;
  }
  .footer {
    justify-content: center;
    align-items: center;
  }
  .stars {
    display: none;
  }
}
.container{
  height: fit-content;
  display: flex;
  flex-direction: column;
}